<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>千艺花卉</title>
    <link rel="stylesheet" href="__PUBLIC__/Wechat/css/reset.css" />
    <link rel="stylesheet" href="__PUBLIC__/Wechat/css/style.css?v={: rand()}" />
    <link rel="stylesheet" href="__PUBLIC__/Wechat/css/swiper.css" />
    <script type="text/javascript" src="__PUBLIC__/Wechat/js/jquery-1.11.0.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/Wechat/layer/layer.js"></script>
</head>


<body style="background:#f0f0f0;">
