<include file="Common/header"/>
	
	<div class="orderDetail">
		<div class="orderAddress">
			<a href="{:U('Center/address')}" class="alink f-16">请选择服务地址</a>
			<!-- 选择服务地址后 -->
			<!--<a href="#" class="address">
				<div class="name">张三<span>13800138123</span></div>
				<div class="con">广东省深圳市龙岗区雅园路万家灯火五期A栋23D五期A栋23D</div>
			</a>-->
		</div>
		
		<div class="order-box">
			<ul class="goodsOrderList">
				<li>
					<div class="image"><img src="__PUBLIC__/Wechat/images/p2.png" width="100%"></div>
					<div class="content">
						<h2>无火香薰精油套装 藤条干花香熏花香熏</h2>
						<div class="price">￥100.00</div>
						<div class="disc">会员折扣价：￥76.00</div>
						<div class="num">x1</div>
					</div>
				</li>
				<li>
					<div class="image"><img src="__PUBLIC__/Wechat/images/p2.png" width="100%"></div>
					<div class="content">
						<h2>无火香薰精油套装 藤条干花香熏花香熏</h2>
						<div class="price">￥100.00</div>
						<div class="disc">会员折扣价：￥76.00</div>
						<div class="num">x1</div>
					</div>
				</li>
			</ul>
			<div class="price">
				<div class="item">
					原　　　价：<span>￥200.00</span>
				</div>
				<div class="item">
					会员折扣价：<span>(9折)￥180.00</span>
				</div>
			</div>
		</div>
		<div class="balance">
			<label class="checkbox2">使用余额（￥100.00） <input type="checkbox"></label>
		</div>
		
		<div class="notes">若您的上门订单10分钟内未支付，系统将自动取消订单。</div>
	</div>
	
	<div class="fixed-ft">
		<button class="btn btn-primary orderBtn">立即支付</button>
		<div class="total">使用余额：￥100.00</div>
		<div class="total">还需支付：<span class="c-red">￥80.00</span></div>
	</div>
	
</body>
</html>
