<include file="Common/header"/>
	<div class="actDetail">
		<div class="title">[光棍节不光棍]沐浴满5000送5000，仅限120人</div>
		
		<div class="actInfo">
			<div class="time">
				【2015-11-01  11:00】至【2015-11-30  11:00】
			</div>
			<div class="num">
				已有27人报名
				<div class="limit">限120人报名</div>
			</div>
		</div>
		
		<div class="actIntro">
			<div class="title c-blue">活动介绍</div>
			<div class="content">
				没有多余的添加，无需繁琐的修饰，只有靠近自然的心境，和原味的清新，由于原味，所以养生；因为新鲜，所以健康。没有多余的添加，无需繁琐的修饰，只有靠近自然的心境，和原味的清新，由于原味，所以养生；因为新鲜，所以健康。
				<img src="__PUBLIC__/Wechat/images/p1.png" width="100%" />
				<img src="__PUBLIC__/Wechat/images/p1.png" width="100%" />
			</div>
		</div>
	</div>
	
	<div class="fixed-ft">
		<button class="btn btn-primary">我要报名</button>
		<!--<button class="btn btn-primary" disabled="disabled">截止报名</button>-->
	</div>
	
</body>
</html>
