<include file="Common/header" />
	<ul class="activeList">
		<li>
			<a href="#">
				<div class="status can">可参加</div>
				<div class="photo" onclick="window.location.href='{: U('Activity/details')}'">
					<img src="__PUBLIC__/Wechat/images/p1.png" width="100%" />
					<div class="title">[光棍节不光棍]沐浴满5000送5000，仅限120人</div>
				</div>
				<div class="store">
					【2015-11-01 11:00】至【2015-11-30 11:00】
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="status full">已满员</div>
				<div class="photo"  onclick="window.location.href='{: U('Activity/details')}'">
					<img src="__PUBLIC__/Wechat/images/p1.png" width="100%" />
					<div class="title">[光棍节不光棍]沐浴满5000送5000，仅限120人</div>
				</div>
				<div class="store">
					【2015-11-01 11:00】至【2015-11-30 11:00】
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="status expired">已过期</div>
				<div class="photo"  onclick="window.location.href='{: U('Activity/details')}'">
					<img src="__PUBLIC__/Wechat/images/p1.png" width="100%" />
					<div class="title">[光棍节不光棍]沐浴满5000送5000，仅限120人</div>
				</div>
				<div class="store">
					【2015-11-01 11:00】至【2015-11-30 11:00】
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="status alreay">已参加</div>
				<div class="photo"  onclick="window.location.href='{: U('Activity/details')}'">
					<img src="__PUBLIC__/Wechat/images/p1.png" width="100%" />
					<div class="title">[光棍节不光棍]沐浴满5000送5000，仅限120人</div>
				</div>
				<div class="store">
					【2015-11-01 11:00】至【2015-11-30 11:00】
				</div>
			</a>
		</li>
	</ul>
	
	<div class="fixed-nav">
		<a href="{:U('Index/index')}" class="home"></a>
	</div>
	
</body>
</html>
