<include file="Common/header"/>
	<div class="userCenter">
		
		<div class="uHeader">
			<!--<div class="bandMember"><a href="#">绑定会员卡</a></div>-->
			<div class="header">
				<div class="avater"><img src="__PUBLIC__/Wechat/images/avater1.png" width="100%"></div>
				<a class="relieve">解绑会员卡</a>
			</div>
			<div class="info">
				<div class="left">
					<p>姓名：张三</p>
					<p>会员等级：VIP1</p>
				</div>
				<div class="right">
					<p>余额：￥1000.00</p>
					<p>手机号码：13800138000</p>
				</div>
			</div>
		</div>

		<div class="link-box">
			<a href="{: U('Info/phone')}"><i class="icon-center mobile"></i>绑定手机号</a>
		</div>

		<div class="link-box">
			<a href="{: U('recharge')}"><i class="icon-center member"></i>会员充值</a>
		</div>
		
		<div class="link-box">
			<a href="{: U('myServerOrder')}"><i class="icon-center server"></i>我的服务订单</a>
			<a href="{: U('myGoodsOrder')}"><i class="icon-center goods"></i>我的商品订单</a>
			<a href="{: U('Goods/cart')}"><i class="icon-center cart"></i>我的购物车</a>
			<a href="{: U('myColGoods')}"><i class="icon-center coll"></i>我的收藏</a>
		</div>
		
		<div class="link-box">
			<a href="{: U('myActivity')}"><i class="icon-center active"></i>我的活动</a>
		</div>
		
		<div class="link-box">
			<a href="{: U('feedback')}"><i class="icon-center feed"></i>意见反馈</a>
		</div>
		
		<div class="link-box">
			<a href="{: U('reset')}"><i class="icon-center system"></i>重置密码</a>
		</div>
		
	</div>
	
	<div class="fixed-nav">
		<a href="{: U('Index/index')}" class="home"></a>
	</div>
	
</body>
</html>
