<include file="Common/header"/>
	<div class="shopping-cart">
		<div class="action">
			<a id="edit">编辑</a>
		</div>
		<ul class="shopList">
			<li class="clearfix">
				<label class="checkbox3"><input type="checkbox" name="shopping"></label>
				<div class="image">
					<img src="__PUBLIC__/Wechat/images/p2.png" width="100%">
				</div>
				<div class="content">
					<h2>无火 香薰精油套装 藤条干 花香熏</h2>
					<div class="price">￥100.00</div>
					<div class="disc">会员折扣价：￥76.00</div>
				</div>
				<div class="number-box">
					<div class="numBox fr">
						<span class="minus"></span>
						<input type="text" class="num" value="1" readonly />
						<span class="plus"></span>
					</div>
				</div>
			</li>
			<li class="clearfix">
				<label class="checkbox3"><input type="checkbox" name="shopping"></label>
				<div class="image">
					<img src="__PUBLIC__/Wechat/images/p2.png" width="100%">
				</div>
				<div class="content">
					<h2>无火 香薰精油套装 藤条干 花香熏</h2>
					<div class="price">￥100.00</div>
					<div class="disc">会员折扣价：￥76.00</div>
				</div>
				<div class="number-box">
					<div class="numBox fr">
						<span class="minus"></span>
						<input type="text" class="num" value="1" readonly />
						<span class="plus"></span>
					</div>
				</div>
			</li>
		</ul>
		
		<div class="fixed-ft">
			<label class="checkbox3"><input type="checkbox" name="shoppingAll" id="shoppingAll"> 全选</label>
			<div class="countAction" id="count">
				<div class="price">合计：<span>￥200.00</span></div>
				<button class="btn btn-primary">去结算</button>
			</div>
			<div class="countAction hide" id="action">
				<button class="btn btn-danger">删除</button>
				<button class="btn btn-primary">完成</button>
			</div>
		</div>
	</div>
	
</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
	// 数量减少
	$(".numBox .minus").click(function(){
		var val = parseInt($(this).next("input").val());
		if(val <= 1) return;
		$(this).next("input").val(val-1);
	});
	// 数量增加
	$(".numBox .plus").click(function(){
		var val = parseInt($(this).prev("input").val());
		$(this).prev("input").val(val+1);
	});
	
	// 编辑
	$("#edit").click(function(){
		$(this).parent().slideUp();
		$("#count").hide();
		$("#action").show();
	});
	// 完成
	$("#action .btn-primary").click(function(){
		$("#action").hide();
		$("#edit").parent().slideDown();
		$("#count").show();
	});
	// 删除
	$("#action .btn-danger").click(function(){
		if(confirm("确定删除吗?")){
			$(".shopList li").find("input[name='shopping']:checked").parent().parent().remove();
		}
	});
	// 全选
	$("#shoppingAll").click(function(){
		if(this.checked){
			$(".shopList li").find("input[name='shopping']").prop("checked",true);
		}else{
			$(".shopList li").find("input[name='shopping']").prop("checked",false);
		}
	});
	$(".shopList li input[name='shopping']").click(function(){
		if($(".shopList input[name='shopping']").length != $(".shopList input[name='shopping']:checked").length){
			$("#shoppingAll").prop("checked",false);
		}else{
			$("#shoppingAll").prop("checked",true);
		}
	});
});
</script>