<include file="Common/header"/>
	<ul class="serverList">
		<li>
			<div class="tag-s">服务</div>
			<div class="image">
				<img src="__PUBLIC__/Wechat/images/p4.png" width="100%">
			</div>
			<div class="content">
				<h2>精油推背</h2>
				<div class="type">
					<div class="door clearfix">
						<div class="tit">上门</div>
						<div class="price">￥500.00</div>
					</div>
					<div class="store clearfix">
						<div class="tit">到店</div>
						<div class="price">￥5000.00</div>
					</div>
				</div>
				<div class="time">60分钟</div>
			</div>
		</li>
		<li>
			<div class="tag-t">套餐</div>
			<div class="image">
				<img src="__PUBLIC__/Wechat/images/p4.png" width="100%">
			</div>
			<div class="content">
				<h2>精油推背</h2>
				<div class="type">
					<div class="door clearfix">
						<div class="tit">上门</div>
						<div class="price">￥500.00</div>
					</div>
					<div class="store clearfix">
						<div class="tit">到店</div>
						<div class="price">￥5000.00</div>
					</div>
				</div>
				<div class="time">60分钟</div>
			</div>
		</li>
		<li>
			<div class="tag-s">服务</div>
			<div class="image">
				<img src="__PUBLIC__/Wechat/images/p4.png" width="100%">
			</div>
			<div class="content">
				<h2>精油推背</h2>
				<div class="type">
					<div class="door clearfix">
						<div class="tit">上门</div>
						<div class="price">￥500.00</div>
					</div>
					<div class="store clearfix">
						<div class="tit">到店</div>
						<div class="price">￥5000.00</div>
					</div>
				</div>
				<div class="time">60分钟</div>
			</div>
		</li>
		<li>
			<div class="tag-t">套餐</div>
			<div class="image">
				<img src="__PUBLIC__/Wechat/images/p4.png" width="100%">
			</div>
			<div class="content">
				<h2>精油推背</h2>
				<div class="type">
					<div class="door clearfix">
						<div class="tit">上门</div>
						<div class="price">￥500.00</div>
					</div>
					<div class="store clearfix">
						<div class="tit">到店</div>
						<div class="price">￥5000.00</div>
					</div>
				</div>
				<div class="time">60分钟</div>
			</div>
		</li>
		<li class="noMore">没有更多了</li>
	</ul>
	
</body>
</html>
