<include file="Common/header"/>
	<div class="tabs">
		<span class="wd20 active">全部</span>
		<span class="wd20">待支付</span>
		<span class="wd20">待服务</span>
		<span class="wd20">待评价</span>
		<span class="wd20">退款</span>
	</div>
	
	<div class="myServer">
		<!-- 全部 -->
		<ul class="myServerList">
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　10:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<a href="{: U('Center/door')}"><img src="__PUBLIC__/Wechat/images/p3.png" width="100%" /></a>
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					已完成
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　10:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<a href="{: U('Center/door')}"><img src="__PUBLIC__/Wechat/images/p3.png" width="100%" /></a>
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					已完成
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　10:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<a href="{: U('Center/store')}"><img src="__PUBLIC__/Wechat/images/p3.png" width="100%" /></a>
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="store clearfix">
								<div class="tit">到店</div>
								<div class="price">￥5000.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					已完成
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　10:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<a href="{: U('Center/store')}"><img src="__PUBLIC__/Wechat/images/p3.png" width="100%" /></a>
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="store clearfix">
								<div class="tit">到店</div>
								<div class="price">￥5000.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					已完成
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　10:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待服务</span>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　10:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待服务</span>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　10:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="store clearfix">
								<div class="tit">到店</div>
								<div class="price">￥5000.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待服务</span>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　10:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="store clearfix">
								<div class="tit">到店</div>
								<div class="price">￥5000.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待服务</span>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
		</ul>
		
		<!-- 待支付 -->
		<ul class="myServerList hide">
			<li>
				<div class="timebox">
					<p style="line-height:4rem">服务时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<a href="{: U('Service/waitPay')}"><img src="__PUBLIC__/Wechat/images/p3.png" width="100%" /></a>
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待付款</span>
					<button class="btn btn-primary">立即支付</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p style="line-height:4rem">服务时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<a href="{: U('Service/waitPay')}"><img src="__PUBLIC__/Wechat/images/p3.png" width="100%" /></a>
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待付款</span>
					<button class="btn btn-primary">立即支付</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p style="line-height:4rem">服务时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待付款</span>
					<button class="btn btn-primary">立即支付</button>
				</div>
			</li>
		</ul>
		
		<!-- 待服务 -->
		<ul class="myServerList hide">
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<a href="{: U('Center/door')}"><img src="__PUBLIC__/Wechat/images/p3.png" width="100%" /></a>
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					已出发<strong>技师已出门，请稍等</strong>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<a href="{: U('Center/door')}"><img src="__PUBLIC__/Wechat/images/p3.png" width="100%" /></a>
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					已出发<strong>技师已出门，请稍等</strong>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待服务</span>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-d">套餐</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待服务</span>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="store clearfix">
								<div class="tit">到店</div>
								<div class="price">￥5000.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待服务</span>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="store clearfix">
								<div class="tit">到店</div>
								<div class="price">￥5000.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					<span>待服务</span>
					<button class="btn btn-primary">查看详情</button>
				</div>
			</li>
		</ul>
		
		<!-- 待评价 -->
		<ul class="myServerList hide">
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					待评价
					<button class="btn btn-primary">评价</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					待评价
					<button class="btn btn-primary">评价</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="store clearfix">
								<div class="tit">到店</div>
								<div class="price">￥5000.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					待评价
					<button class="btn btn-primary">评价</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="store clearfix">
								<div class="tit">到店</div>
								<div class="price">￥5000.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					待评价
					<button class="btn btn-primary">评价</button>
				</div>
			</li>
		</ul>
	
		<!-- 退款 -->
		<ul class="myServerList hide">
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					处理中
					<button class="btn btn-primary">评价</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					全额退款
					<button class="btn btn-primary">评价</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-s">服务</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					部分退款
					<button class="btn btn-primary">评价</button>
				</div>
			</li>
			<li>
				<div class="timebox">
					<p>服务时间：2015-01-15　11:00</p>
					<p>支付时间：2015-01-15　11:00</p>
				</div>
				<div class="info-box">
					<div class="tag-t">套餐</div>
					<div class="image">
						<img src="__PUBLIC__/Wechat/images/p3.png" width="100%" />
					</div>
					<div class="con">
						<div class="title">精油推背</div>
						<div class="content">
							<div class="door clearfix">
								<div class="tit">上门</div>
								<div class="price">￥500.00</div>
							</div>
						</div>
						<div class="num">x1</div>
						<div class="time">60分钟</div>
					</div>
				</div>
				<div class="total">
					全额退款
					<button class="btn btn-primary">评价</button>
				</div>
			</li>
		</ul>
	</div>
	
</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
	$(".tabs span").click(function(){
		$(this).addClass("active").siblings().removeClass("active");
		$(".myServerList").hide().eq($(this).index()).show();
	});
});
</script>