<include file="Common/header"/>
	<div class="recordTit">微信</div>
	<ul class="recordList">
		<li>
			<div class="amount red">5000</div>
			<div class="con">
				<div class="title">5000充值卡 <span>￥5000.00</span></div>
				<div class="time">充值时间：2015.11.11  11:11 <span>充值成功</span></div>
			</div>
		</li>
		<li>
			<div class="amount">300</div>
			<div class="con">
				<div class="title">300充值卡 <span>￥300.00</span></div>
				<div class="time">充值时间：2015.11.11  11:11 <span>充值失败</span></div>
			</div>
		</li>
		<li>
			<div class="amount red">5000</div>
			<div class="con">
				<div class="title">5000充值卡 <span>￥5000.00</span></div>
				<div class="time">充值时间：2015.11.11  11:11 <span>充值成功</span></div>
			</div>
		</li>
		<li>
			<div class="amount">300</div>
			<div class="con">
				<div class="title">300充值卡 <span>￥300.00</span></div>
				<div class="time">充值时间：2015.11.11  11:11 <span>充值失败</span></div>
			</div>
		</li>
		<li>
			<div class="amount red">5000</div>
			<div class="con">
				<div class="title">5000充值卡 <span>￥5000.00</span></div>
				<div class="time">充值时间：2015.11.11  11:11 <span>充值成功</span></div>
			</div>
		</li>
		<li>
			<div class="amount">300</div>
			<div class="con">
				<div class="title">300充值卡 <span>￥300.00</span></div>
				<div class="time">充值时间：2015.11.11  11:11 <span>充值失败</span></div>
			</div>
		</li>
	</ul>
	
</body>
</html>
